# {{ ansible_managed }}

{% for key, value in apache_proxy_server.items()|sort %}
Server{{ key|capitalize }} {{ value }}
{% endfor %}

{% for listen in apache_proxy_listen %}
Listen {{ listen }}
{% endfor %}

User {{ apache_proxy_user }}
Group {{ apache_proxy_group }}

<Directory />
    AllowOverride none
    Require all denied
</Directory>

ErrorLog "logs/error_log"

LogLevel warn
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common

Include conf.modules.d/00-jewflix.conf
IncludeOptional conf.d/jewflix.conf
